[submodule ".i3/i3blocks-contrib"]
	path = .i3/i3blocks-contrib
	url = https://github.com/vivien/i3blocks-contrib
[submodule ".i3/i3blocks-Anachron"]
	path = .i3/i3blocks-Anachron
	url = https://github.com/Anachron/i3blocks
[submodule ".i3/i3blocks-mssdvd"]
	path = .i3/i3blocks-mssdvd
	url = https://gitlab.com/mssdvd/i3blocks-mssdvd
