[ "$XDG_CURRENT_DESKTOP" = "KDE" ] || [ "$XDG_CURRENT_DESKTOP" = "GNOME" ] || export QT_QPA_PLATFORMTHEME="qt5ct"
export MOZ_USE_XINPUT2=1
export PATH=~/home/build/firefox/firefox:$PATH:~/.local/bin:~/bin
