* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Iosevka Semibold, sans-serif;
    font-size: 16px;
    min-height: 0;
    color: #ffffff;
}

#window {
    padding-left: 30px;
}

window#waybar {
    background-color: #000000;
}

#workspaces button {
    padding: 0 4px;
    background-color: #222222;
    border: 1px solid #333333;
    transition: none;
}

#workspaces button:hover {
    background: inherit;
}

#workspaces button.focused {
    background-color: #285577;
    border: 1px solid #4c7899;
}

#workspaces button.urgent {
    background-color: #900000;
    border: 1px solid #2f343a;
}

#mode {
    padding: 0 10px;
    background-color: #900000;
    border: 1px solid #2f343a;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#idle_inhibitor,
#mpd,
#custom-updates,
#custom-light,
#custom-mediaplayer {
    padding: 0 10px;
    background-color: #285577;
    border: 1px solid #4c7899;
}
@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* label:focus { */
/*     background-color: #000000; */
/* } */

#network.speed {
    min-width: 200px;
}

#network.disconnected {
    background-color: #900000;
}

#temperature.critical {
    background-color: #900000;
}

#cpu {
    min-width: 3em;
}

#backlight {
    min-width: 56px;
}
