SUBSYSTEM=="input",ATTRS{phys}=="b4:6b:fc:37:a3:6a",ATTR{name}=="BOSE di Giovanni (AVRCP)",ACTION=="add",TAG+="systemd",ENV{SYSTEMD_USER_WANTS}+="disable-anc.service"
